@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.poem {
    overflow: auto;
    scrollbar-width: thin;
}

.background-gradient {
    background: linear-gradient(
        103.6deg,
        #172bde -4.09%,
        #a74dce 16.91%,
        #e8547e 37.9%,
        #ff761a 58.9%,
        #ffce00 79.9%,
        #6cd331 100.9%
    );
}

input[type="checkbox"] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}

dialog[open] {
    animation: fadein 500ms ease-in forwards;
    transform: translateX(-100%);
    left: 99%;
    top: 90%;
    margin: 0; /* `margin: auto;` is the default. */
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
